name: CI
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Update App on prod server here via SSH, for now it just runs the main function of the code inside Docker
        uses: ./.github/workflows/docker-action
        with:
          image_name: prod-container
          run_container: true
          dockerfile: 'Dockerfile.prod'